<footer class="footer bg-dark py-3 mt-3">
    <div class="container">
        <span class="text-muted">© Christoff van der Walt <span class="copyright-year">0000</span> - This website is built on the <a href="https://www.omdbapi.com/">OMDb API</a></span>
    </div>
    <div class="container">
       <a href="https://www.linkedin.com/in/christoff-van-der-walt-ab2a0b17a/"><i class="fab fa-linkedin social-icons"></i></a>
       <a href="https://github.com/vdwstoffel"><i class="fab fa-github-square social-icons"></i></a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</html>