:root {
  --navbar-margin: 10%;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
.navbar-link {
  color: white;
}

.fas {
  color: white;
  padding: 0 1em;
}

.fa-search {
  color: #6c757d;
}

.nav-item {
  padding: 0 1em;
}

/* FOOTER */
.footer {
  text-align: center;
}

.social-icons {
  color: #6c757d;
  font-size: 2em;
  padding: 0.5em 0.5em;
}

/* Main */
.heading {
  text-align: center;
  font-size: 60px;
  margin-top: 1em;
}

/* Movie Cards */
.movieCardArea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5% 15%;
}

.card {
  background-color: transparent;
  border: none;
  margin-bottom: 2em;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-more {
  background-color: black;
  border: none;
}
/* TITLE INFO PAGE */
.main-content {
  margin: 0 var(--navbar-margin);
  margin-top: 3em;
  font-size: 19px;
  line-height: 140%;
  
}

.media {
  display: flex;
  align-items: center;
}


.media img {
  width: 300px;
}

.media iframe {
  width: 640px;
  height: 400px;
}

.genres, .released, .runtime, .rating, .providers {
  font-size: 90%;
}

.tagline {
  font-style: italic;
}

.overview {
  width: 50%;
}

.genres {
  display: flex;
  flex-direction: row;
}

.genre {
  padding-right: 1em;
}

.rating {
  display: flex;
  align-items: center;
}

.rating i {
  margin-right: 1em;
  font-size: 0.7em;
  color: gold;
}

.providers {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.providers img {
  margin-right: 0.5em;
  width: 25px;
  border-radius: 5px;
}

.providers p {
  margin-right: 1em;
}

.similar-movies img {
  width: 70px;
}